<div class="row">
  <div
    class="col-sm-12 d-flex justify-content-start align-items-center"
    style="height: 50px; width: 100%; background-color: #101112;"
  >
    <!-- Icon -->
    <div style="height: 35px; width: 35px; background-color: teal; border-radius: 5px;">

    </div>

    <!-- Name -->
    <div style="margin-left: 15px; color: #ffffff;">
      {{name}}
    </div>

    <!-- Spacer -->
    <div style="flex: 1 1 auto;"></div>

    <!-- Arrow -->
    <div>
      <img src="assets/icons/chevron_right.svg" alt="Icon not found" style="height: 40px;">
    </div>

  </div>
</div>
