<div class="container" style="min-height: calc(100vh - 68px); background-color: #191A1C;">
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-start align-items-center" style="background-color: #101112; color: #ffffff; padding: 15px;">

      <!-- Profile picture -->
      <div style="width: 60px; min-width: 60px; height: 60px; background-color: lightblue; border-radius: 60px;"></div>

      <!-- User name and status -->
      <div style="margin-left: 15px; background-color: inherit;">
        <!-- TODO replace name placeholder with actual name -->
        <span class="bold">Klaas Maurits van der Zee</span><br>
        <!-- TODO replace status placeholder with actual status-->
        This will be the status section of the contact
      </div>

      <!-- QR Code Button -->
      <div style="margin-left: 15px; width: 30px; min-width: 35px; height: 35px; background-color: #191A1C; border-radius: 35px;">
        <img src="assets/icons/qr.svg" alt="Icon not found" style="height: 32px;">
      </div>
    </div>
  </div>

  <!-- SPACER -->
  <div class="row settings-spacer"></div>

  <app-settings-menu-item [name]="'Starred messages'" [icon]="'star'" color="#FF9900"></app-settings-menu-item>
  <app-settings-menu-item [name]="'Linked devices'" [icon]="'star'" color="#00D387"></app-settings-menu-item>

  <!-- SPACER -->
  <div class="row settings-spacer"></div>

  <app-settings-menu-item [name]="'Account'" [icon]="'key'" color="#4086EE"></app-settings-menu-item>
  <app-settings-menu-item [name]="'Data and storage'" [icon]="'storage'" color="#A140EE"></app-settings-menu-item>
  <app-settings-menu-item [name]="'Privacy'" [icon]="'shield'" color="#EE40A8"></app-settings-menu-item>

  <!-- SPACER -->
  <div class="row settings-spacer"></div>

  <app-settings-menu-item [name]="'Help'" [icon]="'star'" color="#4340EE"></app-settings-menu-item>
  <app-settings-menu-item [name]="'Tell a friend'" [icon]="'heart'" color="#FF0000"></app-settings-menu-item>
  <app-settings-menu-item [name]="'Source code'" [icon]="'github'" color="#464646"></app-settings-menu-item>

  <!-- SPACER -->
  <div class="row" style="margin-top: 40px; background-color: #191A1C;">
    <div class="col-sm-12 d-flex justify-content-center" style="color: #ffffff;">
      Made with
      <img src="assets/icons/heart.svg" alt="Icon not found" style="margin-left: 5px; margin-right: 5px;">
      in Europe
      <img src="assets/icons/eu.svg" alt="Icon not found" style="margin-left: 5px;">
    </div>

    <div class="col-sm-12 d-flex justify-content-center" style="color: #1BD9BD; margin-top: 10px; margin-bottom: 40px;">
      Trale &copy; 2021
    </div>

  </div>
</div>
