<div class="container">
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-start align-items-center" style="background-color: #101112; color: #ffffff; padding: 15px;">

      <!-- Profile picture -->
      <div style="width: 60px; min-width: 60px; height: 60px; background-color: lightblue; border-radius: 60px;"></div>

      <!-- User name and status -->
      <div style="margin-left: 15px; background-color: inherit;">
        <!-- TODO replace name placeholder with actual name -->
        <span class="bold">Klaas Maurits van der Zee</span><br>
        <!-- TODO replace status placeholder with actual status-->
        This will be the status section of the contact
      </div>

      <!-- QR Code Button -->
      <div style="margin-left: 15px; width: 30px; min-width: 30px; height: 30px; background-color: #4dc71f;">

      </div>
    </div>
  </div>

  <!-- SPACER -->
  <div class="row settings-spacer"></div>

  <app-settings-menu-item [name]="'Starred messages'" [icon]="'star'"></app-settings-menu-item>
  <app-settings-menu-item [name]="'Linked devices'" [icon]="'star'"></app-settings-menu-item>


  <!-- TODO add menu items  101112 -->
</div>
