<div class="container" style="background-color: #191A1C; height: 100vh;">
  <div class="row" style="padding-left: 30px; padding-top: 30px;">
    <div class="col-sm-12">
      <span class="h-large" style="color: #ffffff;">
        Welcome to Trale
      </span>
    </div>
    <div class="col-sm-12" style="color: #ffffff;">
      <h5>Secure, private messaging</h5>
    </div>
    <div class="col-sm-12">
      <button class="btn-trale">
        Start now
      </button>
    </div>
  </div>

  <div class="row" style="margin-bottom: 40px;">
    <div class="col-sm-12 d-flex justify-content-center" style="color: #ffffff;">
      Made with
      <img src="assets/icons/heart.svg" alt="Icon not found" style="margin-left: 5px; margin-right: 5px;">
      in Europe
      <img src="assets/icons/eu.svg" alt="Icon not found" style="margin-left: 5px;">
    </div>

    <div class="col-sm-12 d-flex justify-content-center" style="color: #1BD9BD; margin-top: 10px; margin-bottom: 40px;">
      Trale &copy; 2021
    </div>

  </div>

</div>
