/* You can add global styles to this file, and also import other style files */

/* BOOTSTRAP IMPORT */
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/utilities';

/* CUSTOM STYLES */
@import 'assets/styles/buttons';
@import 'assets/styles/fonts';
@import 'assets/styles/headings';
@import 'assets/styles/settings';

* {
  font-family: Overpass, "Helvetica Neue", sans-serif;
}

body {
  background-color: #191A1C;
}

.bold {
  font-weight: bold;
}
