.btn-trale {
  background-color: #1BD9BD;
  color: #101112;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.btn-trale:disabled {
  background-color: #101112;
  color: #747474;
}

.btn-trale-dark {
  background-color: #101112;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
