.h-large {
  font-size: 32px;
  font-weight: 900;
}

.setup-headline {
  font-size: 32px;
  font-weight: bold;
  color: var(--text-color);
}

.setup-headline-small {
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
}
